.headerBar {
  font-family: "Staatliches";
  font-size: 50px;
  height: 100px;
  background: #d34644;
  color: #ffffff;
  display: flex;
  align-items: center;
}

.logo {
  height: 100px;
  width: 100px;
  padding-right: 30%;
}
